
  .public-food-list {
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 50px 50px 0px 0px;
    padding-top: 25px;
    -webkit-box-shadow: 0px -10px 15px rgba(38, 57, 77, 0.534);
    -moz-box-shadow: 0px -10px 15px rgba(38, 57, 77, 0.534);
    box-shadow: 0px -10px 15px rgba(38, 57, 77, 0.534);
    margin: 0 10px 0 10px;
  
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
  }

  .profile .profile-page{
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .profile .profile-page img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
  }
  .profile .profile-page table{
      margin-bottom: 30px;
  }

  /* .profile .profile-page table tr td:first-child{
      text-align: end;
  }

  .profile .profile-page table tr td:first-child{
    text-align: end;
} */


  
.profile .profile-page button.reedem {

    align-items: center;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border: none;
    background: none;
    background-color: #219f94;
    color: white;
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
    transition: all 0.2s ease-in-out;
  }
  
  .profile .profile-page button.reedem:hover {
    cursor: pointer;
    font-size: large;
  }
  
  .profile .profile-page button.signout {

    align-items: center;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background: none;
    background-color: #219f94;
    color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.2s ease-in-out;
  }
  
  .profile .profile-page button.signout:hover {
    cursor: pointer;
    font-size: larger;
  }
  

  .profile .profile-page button.add-location {

    align-items: center;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background: none;
    background-color: #e8e8a6;
    color: black;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.2s ease-in-out;
  }
  
  .profile .profile-page button.add-location:hover {
    cursor: pointer;
    font-size: larger;
  }
  
  