
/* your food item section before login */
.food-items-box{
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  padding: 30px;
}

.food-items-box.selected{
  background: #ED373A;


}

.your-food-items,.available-food-items{
    display: none;
}
.your-food-items.selected,.available-food-items.selected{
    display: block;
}

.food-items{
    padding:0px 30px 0px 30px;
}

.your-food-items .signup-area #user{
    background-color: white;
    color: black;
}

.your-food-items .signup-area #user img{
    width: 40%;
    max-width: 400px;
}

@media (min-width: 760px) {
    .available-food-items .details {
      width: 73%;
      margin-left: 10px;
    }
    
  }

/* your food item section before login */